<div class="map">
  <app-map></app-map>
</div>
<div class="container">
    
    <div class="content" *ngIf="events">
      <h2>Events with NASA EONET:</h2>
      <ul>
        <li *ngFor="let event of events">
          {{event.title}}
        <input type="checkbox" (change)="checkboxChange($event, event)">

      </li>
      </ul>
  
  
    </div>
  </div>


  <!-- {{event.title}}
        <input type="checkbox" (click)="onSelect(event)">
        {{event.title}}

        <a routerLink="/detail/{{event.id}}">
            {{event.title}}
          </a>
  
          {{event.description}}
          {{event.link}}
          {{event.closed}}
          {{ event.categories.title }}
          {{event.geometry}}
          <ul>
            <li *ngFor="let geometry of event.geometry">
              {{geometry.magnitudeValue}}
              {{geometry.coordinates}}
            </li>
          </ul> -->